body {
    background-color: rgb(58, 56, 56);
}

h1 {
    font: normal 30px Times;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

h1#principal {
    margin-bottom: 30px;
}

div {
    text-align: center;
}

div#voltar {
    margin-top: 7%;
}

img {
    margin: 10px;
}

img#ilustracao {
    margin: 2%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}